server:
  port: 10000

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
  main:
    allow-circular-references: true

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  info:
    env:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0

  mail:
    host: live.smtp.mailtrap.io
    port: 587
    username: smtp@mailtrap.io
    password: 9b5d6099dc1f5bed4e89c4e4a93fa91c
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true


  h2:
    console:
      enabled: true
      path: /h2-console